<!DOCTYPE html>
<!-- <html lang="en">
<head>

</head>
<body>

</body>
</html> -->
{% extends 'healthapp/head_footer.html' %}
{% block body %}
this is inside block
{% endblock %}
{% block head %}
<style media="screen">
  div{
    background-color:green;
  }
</style>
{% endblock %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>this is outside the block area</h1>
</body>
</html>
<h1>THIS IS OUTSIDE EVERITHING </h1>
